

body {
    margin: 0;
    padding: 0;
    
    background: url(https://images.unsplash.com/photo-1566917336284-f4e134c5012e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1576&q=80);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: sans-serif;
}

 .loginbox {
    width: 320px;
    height: 420px;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    
    background-color: rgba(0, 0, 0, 0.3);
    
    } 

    .avatar {
        width: 100px;
        height: 100px;
        position: absolute;
        top: -70px;
        padding-left: 110px;
    }

form{
    padding: 20px;
}

h1 {
    margin: 0;
    padding-top: 60px;
    text-align: center;
    font-size: 22px;
}

.loginbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input {
    width: 80%;
    margin-bottom: 20px;
}

.loginbox input[type="text"] {
    border: none;
    outline: none;
    height: 40px;
    background: white;
    
    font-size: 15px;
    border-radius: 10px;
}

.loginbox input[type="text"]:hover {
    cursor: pointer;
    background: darkgrey;
    color: white;
}

.loginbox input[type="password"] {
    border: none;
    outline: none;
    height: 40px;
    
    background: #fff;
    font-size: 15px;
    border-radius: 10px;
}

.loginbox input[type="password"]:hover {
    cursor: pointer;
    background: darkgrey;
    color: white;
}

.loginbox a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.loginbox a:hover {
    color: darkgrey;
}

.loginbox input[type="submit"] {
    border: none;
    outline: none;
    height: 30px;
    width: 90px;
    background: blue;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    margin-left: 80px;
}

.loginbox input[type="submit"]:hover {
    cursor: pointer;
    background: lightblue;
    color: black;
}


.foo{
    padding-left: 10px;
} 



/* Media Queries */

/* Smartphone */


@media(max-width:500px){
    body{
        background: url(https://images.unsplash.com/photo-1566917336284-f4e134c5012e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1576&q=80);
    background-size: cover;
    background-position: center;
    
    }

    .loginbox{
        top: 55%;
    }
    
}

/* Tablet */

@media(min-width:501px) and (max-width:768px){
    body{
        background: url(https://images.unsplash.com/photo-1566917336284-f4e134c5012e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1576&q=80);
    background-size: cover;
    background-position: center;
    }

    .loginbox{
        top: 60%;
        
    }
}

/* Normal */

@media(min-width: 769px) and (max-width:1200px){
    body{
        background: url(https://images.unsplash.com/photo-1566917336284-f4e134c5012e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1576&q=80);
    background-size: cover;
    background-position: center;
    }
}
